<template name="aside">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Start Bootstrap
                </a>
            </li>
            <li>
                <a href="http://localhost:3000/home">Dashboard</a>
            </li>
            <li>
                <a href="{{pathFor route='students-detail'}}">Student Detail</a>
            </li>
            <li>
                <a href="{{pathFor route='student-panel'}}">Student Panel</a>
            </li>
            <li>
                <a href="{{pathFor route='bills-audit'}}">Bills and Audits</a>
            </li>
            <li>
                <a href="{{pathFor route='class-schedule'}}">Class Schedules</a>
            </li>
            <li>
                <a href="{{pathFor route='services'}}">Services</a>
            </li>
            <li>
                <a href="{{pathFor route='settings'}}">Settings</a>
            </li>
        </ul>
</template>